* {
  margin: 0;
}

body {
  background-color: #191C2A;
  color: white;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #141622;
  max-width: 600px;
  height: 80%;
  padding: 20px;
  border-radius: 20px;
  border: #7C83A3 solid 1px;
  align-items: center;
}

#pesquisa {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#cidade {
  padding: 10px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  width: 300px;
}

#icone-busca {
  display: flex;
  background-color: white;
  height: 35px;
  align-items: center;
  padding-left: 10px;
  border-radius: 5px 0px 0px 5px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: smaller;
}

#clima-atual {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#clima-atual img {
  width: 100px;
}

.info-estilo {
  color: #7C83A3;
}

#temperatura-atual {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#temperatura {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  color: #8DB6F4;
}

#info-clima {
  display: grid;
  grid: repeat(2, 50px) / 20fr 20fr;
  gap: 20px;
  align-items: center;
}

#info-clima div {
  background-color: #171926;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
   border: #7C83A3 solid 1px;
}